$primary:rgb(26,11,107);
$secondary:rgb(12, 204, 70);
$succes:rgb(40, 192, 40);
$danger:rgb(231,47,56);
$dark:#000;
$dark_opacity: rgba($dark,1);
$font-size:1.75rem;
$brand: 'dsc';
$backgrouncolor: rgba(255, 208, 106, 0.849);

$paleta: (

    'primary':rgb(26,11,107),
    'header':rgb(12, 204, 70),
    'succes':rgb(40, 192, 40),
    'danger':rgb(231,47,56),
    'dark':#000,
    'blue': rgb(21,8,212), 
    'orange': orange,
    'backgroundcolor':rgba(255, 208, 106, 0.849)
);

