/*menu de navegacion*/
.header-menu{
    list-style: none;
    padding: 0px;
    li {
        display: inline-block;
    }
    a{
        text: {
        decoration: none;
        transform: uppercase;
        align: center;
        }

        font: {
            family: sans-serif;
            size: 1rem;

        }
        color: darkgreen;
        padding: 1rem;
        background-color: blanchedalmond;

        
    }
    a:hover{
        background-color: aqua;
        font-style: inherit;
        text-transform: capitalize;
    }
}