
@import "menu.scss";
@import "mapas.scss";
@import "mixin.scss";


body{
    background-color: map-get($map: $paleta, $key:'backgroundcolor' );
    padding: 0%;
    margin: 0%;  
}
    
.header{
    padding: 2rem;
    width: 100%;
    background-color: map-get($map: $paleta , $key:"header" );
    .header-titulo{
        width: auto;
        align-items: center;
        color: map-get($map: $paleta, $key:"orange" );
  
        font : {
            family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            
        }
        
    
    }
    .header-menu{
        list-style: none;
        padding: 0px;
        li {
            display: inline-block;
        }
        a{
            text: {
            decoration: none;
            transform: uppercase;
            align: center;
            }
    
            font: {
                family: sans-serif;
                size: 1rem;
    
            }
            color: darkgreen;
            padding: 1rem;
            background-color: blanchedalmond;
    
            
        }
        a:hover{
            background-color: aqua;
            font-style: inherit;
            text-transform: capitalize;
        }
    }
        
}
