
@import "-menu.scss";

body{
    background-color: grey;
    padding: 0%;
    margin: 0%;
    
}
.header{
    padding: 2rem;
    width: 100%;
    background-color: cadetblue;
    .header-titulo{
        width: auto;
        align-items: center;
        color: darkgreen;
  
        font : {
            family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            
        }
        
    
    }
        
}
